[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
uuslug = "*"
django-uuslug = "*"
markdown2 = "*"
django-mdeditor = "*"
requests-html = "*"

[requires]
python_version = "3.6"
